In [1]:
import csv

## READ CSV FILE

In [3]:
with open('D:/INTERNAL/sqlite3/emp.csv','r') as f:
    csv_read=csv.reader(f)
    for r in csv_read:
        print(r)

['eid', 'ename', 'dept', 'basic', 'branch']
['1', 'Rohit', 'IT', '45000', 'Surat']
['2', 'Virat', 'ACCOUNT', '40000', 'Baroda']
['3', 'SHreayanka', 'HR', '60000', 'Surat']
['4', 'Jassi', 'Inventory', '50000', 'Bardoli']
['5', 'Smriti', 'IT', '40000', 'Surat']

In [12]:
import sqlite3 as sq

In [14]:
conn = sq.connect('your-database-file.db')
cursor = conn.cursor()
cursor.execute("UPDATE emp SET salary = salary * 1.10 WHERE branch = 'Surat'")
conn.commit()

OperationalError: no such table: emp

In [4]:
f=open('D:/INTERNAL/sqlite3/emp.csv','r+')

In [11]:
f=csv.writer(' update emp set salary=salary+10% where city='surat'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (238304952.py, line 1)